html{
  font-size: 100%;
}

.lottie-player {
  position: fixed;
  /* width: 100vw;
  height: 100vh; */
  top: 0;
  right: 0px;
  z-index: 1000;
  
}
body{
  margin: 0;
  padding: 0;
  background-color:white;
  color: black;
  font-family:'Cormorant Garamond', serif;
font-family: 'Reem Kufi', sans-serif;
/* font-size: 0.9rem; */
}
nav{
  background-color: #1b1b11;
  color: white;
}

/* section 1 navbar  */
.nav1_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 3%;
  gap: 0;
}
/* .nav1_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
} */
.sec1_list{
  display: flex;
  /* gap: 80px; */
  gap: 28px;
  align-items: center;
}
li{
list-style: none;
  }
a{
  text-decoration: none;
}
.nav1 span{
  color: #BF9444;
}
.nav1{
  border-bottom: 1px solid rgb(53, 53, 53) ;
}
.nav2_main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  
}

/* ---------------------------- */
/* Navbar styles */

/* .nav2_list{
  width: 45%;
}
.nav2_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1b1b11;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.nav2_list ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.nav2_list ul li a:hover {

  color: #BF9444;
}
 */

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(45, 45, 45);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
} 




/* +++++++++++++++++++++++++++++++++ */

.nav-links {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1b1b11;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}
.nav2_list{
  width: 50%;
}
.nav2_list ul li a:hover {

  color: #BF9444;
}


.nav-links li a {

  color: white;
  text-align: center;
  padding: 14px 6px;
  text-decoration: none;
  display: block;
 

}

/* Hamburger menu styles */
.hamburger-menu {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}


/* +++++++++++++++++++++++++++++++++++ */
/* ---------------------------------- */
.nav2_contact{
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 5px;
}
.nav2_logo2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #BF9444;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.nav2_contact li h3{
  margin: 0;
}
.nav2_connect ul{
  width: 100px;
}
.nav2_connect{
border: none;
background-color:#BF9444 ;
  padding: 10px 19px;
  font-size: 1.25rem;
  border-radius: 15px 0;
  margin: 9px;
}
.nav2_connect h4{
  margin: 0;
  font-weight: 400;
}
.nav2_contact span{
color: #BF9444;
font-size: 0.9rem;
}
.nav2_contact p{
  font-size: 1.2rem;
}


/* section 2 starts here  */
.sec2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  gap: 20px;
  
}

.sec2_text p,
.sec2_text h4{
  text-align: center;
}
.sec2_text h1{
  font-size: 4.5rem;
  font-weight:600;
  text-align: center;
  margin: 0;
  padding: 0px;
}
.sec2_text{
  width: 70%
}
.sec2_text p{
  font-size: 1.15rem;
  word-spacing: 3px;
}
.sec2_text p span{
  color: #BF9444;
}
.sec2_button h4{
  border: 1px solid #BF9444 ;
background-color:transparent;
  padding: 10px 25px;
  font-size: 1.25rem;
  border-radius: 15px 0;
  margin: 30px;
  width: 180px;
}
.sec2_button{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.sec2_button h4:hover{
background-color: #BF9444;
color: white;
}
/* ============================== */
.sec2_left {
position: relative;
/* width: 100%; Adjust the width as needed */
width: 400px; /* Ensures the container doesn't exceed the screen width */
   flex: 0 2 300px;
   max-width: 100%;
}
.sec2_right {
position: relative;
/* width: 100%; Adjust the width as needed */
width: 400px; /* Ensures the container doesn't exceed the screen width */
 flex: 0 2 300px;
 max-width: 100%;
}
.sec2_text{
  flex: 2 1 auto;
  max-width: 59%;
}
.background_dish {
width: 100%;
height: auto;
display: block;
}

.dish1 {
  position: absolute;
  top: 7%;
  left: 24%;
  width: 70%;
  height: auto;
  max-width: 100%;
}
.dish2 {
  position: absolute;
  top: 7%;
  left: 6%;
  width: 70%;
  height: auto;
  max-width: 100%;
}
/* ============================== */


@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the image */
.dish1,
.dish2{
  animation: rotateAnimation 10s linear infinite; /* Change the duration or other properties as needed */
}


/* -------------------- */
/* section 3 starts here  */

/* options menu  */
.sec3_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#1b1b11;
    /* background-color: #BF9444; */
  }
  
  .sec3_menu ul li {
    display: inline-block;
    position: relative;
  }
  
  .sec3_menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  
  .sec3_menu ul li ul.submenu {
    display: none;
    position: absolute;
    background-color:#31311f;
    /* min-width: 140px; */
    z-index: 1;
    /* width:167px; */
  }
  
  .sec3_menu ul li:hover ul.submenu {
    display: flex;
    justify-content: center;
    left: -160px;
  
  }
  
  .sec3_menu ul li ul.submenu li {
    display: block;
    width: 150px;
    /* padding: 5px 10px;  */
    padding: 5px 0px;
  }
  
  .sec3_menu ul li ul.submenu li a:hover {
    color: #BF9444;
  }



.card{
    display: flex;
    flex-wrap:wrap;
justify-content: center;
    gap:40px;
    row-gap: 20px;
    margin-top: 50px;
}

.sec3_heading h3{
    font-size:3rem;
    color:#1b1b11;
    margin-bottom: 0;
}
.sec3_heading{
    border-bottom: 2px solid #1b1b11 ;
}
.sec3_heading h3{
    margin-left: 110px;
}
  .sec3{
    margin-top: 100px;
  }
  
 .sec3_menu ul{
    display: flex;
    justify-content: center; 
 }
 .sec3_menu li{
    padding: 10px 20px;
 }
 .sec3_menu a{
    
    /* color: #1b1b11; */
    /* color: black; */
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    /* background-color: #BF9444; */
    padding: 5px 20px;
    border-radius: 30px;
}
.sec3_menu a:hover{
    color:#BF9444;
 }

  .sec3_card{
    width: 300px;
    /* width: 35%;
    max-width: 300px; */
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    
 }

 .sec3_card:hover{
    border: 1px solid #1b1b11;
    cursor: pointer;
 }
 .sec3_card>img{
    width:100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
 }
 .sec3_card h2{
    margin: 5px 0px;
 }
 .sec3_heart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 .sec3_heart h2,
 .sec3_heart a img,
 .sec3_card h4,
 .sec3_card p{
    padding:0px 16px
 }

 .sec3_card h4{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
 }
 .sec3_card p{
    margin: 10px 0px;
    height:66px;
    font-size: 0.94rem;
    line-height: 20px;
 }

.sec3_card .red{
color: rgb(144, 2, 2);
text-decoration: line-through;
padding: 0 7px;
}

.sec3_button h3{
    background-color: #BF9444;
    text-align: center;
    padding: 10px 0px;
    width: 90%;
    margin: 0 auto;
    margin-top: 9px;
    border-radius: 10px;
    margin-bottom:15px ;
}
.sec3_button h3:hover{
    background-color:#936818;
    color: white;
    /* width: 45%; */
}
.sec3_head{
    width: 100%;
    max-width: 100%;
}
.sec3_head h1{
    color:  #1b1b11;
    margin-top: 0px;
}
.sec3_head p{
    margin: 0;
}

/* fotter starts here  */
.foot_main{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  background-color: #1b1b11;
  padding: 50px 0;
  color: white; 
  
}

.foot_logo{
  text-align: center;
  /* width: 400px; */
  width: 26%;
    max-width: 481px;
}
.foot_logo h3{
  font-size: 1.5rem;
}
.foot_logo p{
  font-size: 0.94rem;
  word-spacing: 2px;
}
.foot_logo img {
  width: 34%;
  max-width: 195px;
  min-width: 86px;
}


/* footer 2nd starts here  */

footer{
  background-image: linear-gradient(rgba(9,22,29,.9),rgba(9,22,29,.9)),url(./images/footer\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .foot_main2{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  width: 71%;
} */
.foot_main2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  
}
.foot_main2 h3{
  font-size: 1.9rem;
  font-weight: 600;
}

.circle{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    border: 1px solid hsla(0,0%,100%,.15);
}
.circle p{
  font-size: 1.4rem;
  word-spacing: 4px;
  letter-spacing: 3px;
}
.logos_center i{
  padding: 7px 7px;
border: 1px solid #BF9444;
border-radius:50% ;
}
.circle .hr_logo{
  display: flex;
  width: 100px;
  gap: 5px;
}
.hr_logo hr{
  height: 1px;
  border: none;
  width: 100px;
  background-color: #BF9444;

}
.logos_center i:hover{
background-color: #BF9444;
}

.menu_catagory{
  display: flex;
  /* gap: 50px; */
 
}
.menu_catagory ul{
  margin: 0;
  padding: 0;
  /* width: 140px; */
  width: 51%;
}
.foot_main2 li{
  font-size: 1.125rem;
  margin: 5px 10px;
}
.foot_leftside li{
  width: 115px
}
.foot_main2 span{
  color: #BF9444;
}
.foot_rightside ul{
  padding: 0;
}
.address{
  display: flex;
  justify-content: space-between;
}
/* .address ul:nth-child(1){
  margin-right: 10px;
} */




